.form-group.required .control-label:before {
    content:"* ";
    color:red;
}

legend.required:before {
    content: "* ";
    color: red;
}

h3.required:before {
    content: "* ";
    color: red;
}

legend {
    font-size: ($font-size-base * 1.2);
}

label {
    font-weight: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: green;
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}
