.profile-photo-xl {
    @include make-profile-photo(200px);
}

.profile-photo-lg {
    @include make-profile-photo(125px);
}

.profile-photo-md {
    @include make-profile-photo(75px);
}

.profile-photo-sm {
    @include make-profile-photo(50px);
}

.profile-photo-xs {
    @include make-profile-photo(25px);
}

.profile-photo {
    @include make-profile-photo();
}

.nav-profile-photo {
    @include make-profile-photo(25px);
}
