.navbar {
  max-height: $header-height;
  background-color: $main-color;
  margin-bottom: 0;
  border: none;

}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
}

.navbar-brand {
  padding-left: 2rem;

  img {
    height: 3rem;
  }
}

/*.navbar-nav > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
}*/
