.sidebar {
  height: 100%;
  width: 23%;
  position: fixed;
  background-color: #fff;
  border-right: 1px solid #d3e0e9;

  .acp-panel-heading {
    border-radius: 0;
    padding: 15px 0 15px 20px;
  }

  .list-group-item {
    border-radius: 0;
    border-right: none;
    border-bottom: none;
    padding-left: 50px;
  }

  .active-border, .acp-panel-heading:hover  {
    border-right: 5px solid $main-color !important;
  }

  .active-color, .panel:hover .panel-title {
    color: $main-color;
  }

  .panel a:hover, .panel-title a:hover {
    text-decoration: none;
  }

  .panel .single-link {
    color: #333333;
  }

  .panel:hover {
    cursor: pointer;
  }

   .panel  {
    margin-top: 0 !important;
    border-radius: 0;
    border-top: none;
    border-right: none;
  }


}



