:root {
    font-size: 10px;
}

body {
    padding-top: calc(#{$header-height});
}

[v-cloak] > * {
    display: none
}

.text-black {
    font-weight: 900;
}

.text-bold {
    font-weight: 700;
}

.text-semibold {
    font-weight: 500;
}

.text-regular {
    font-weight: 400;
}

.text-light {
    font-weight: 300;
}

.text-thin {
    font-weight: 100;
}

// Font style
.text-italic {
    font-style: italic;
}

.text-highlight {
    padding: 4px 6px;
}

.text-sm {
    font-size: 10px;
}

.text-md {
    font-size: 14px;
}

.mt-10 {
    margin-top: 10px !important;
}

.mt-15 {
    margin-top: 15px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mt-30 {
    margin-top: 30px !important;
}

.mt-60 {
    margin-top: 60px !important;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-10 {
    margin-bottom: 10px !important;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mr-10 {
    margin-right: 10px !important;
}

.mr-15 {
    margin-right: 15px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-15 {
    margin-left: 15px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.pt-10 {
    padding-top: 10px !important;
}

.pt-15 {
    padding-top: 15px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pr-10 {
    padding-right: 10px !important;
}

.pr-15 {
    padding-right: 15px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pl-10 {
    padding-left: 10px !important;
}

.pl-15 {
    padding-left: 15px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
}

.pb-15 {
    padding-bottom: 15px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

.text-divider {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 20px 0 20px;

    span {
        background: #fff;
        padding: 0 10px;
    }
}

.pointer {
    cursor: pointer;
}

.bg-white {
    background-color: #fff;
}

.table > tbody > tr:last-child > td {
    border-bottom: 2px solid #ddd;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - #{$header-height});
}
