.navbar-brand {
    height: $header-height;
    padding: 10px 15px;

    img {
        height: $header-height;
    }
}

#app-navbar-collapse {
    .navbar-right {
        @media screen and (min-width: 768px) {
            > li:not(.dropdown) {
                padding-top: 0;
            }
        }
    }
}

/*
.nav > li > a > img {
    max-width: 25px;
}
*/
