@import '~scss-mixins-collection/index';

@mixin make-profile-photo($size: 50px, $padding: 1px, $border-color: $laravel-border-color) {
    border: 2px solid $border-color;
    border-radius: 50%;
    padding: $padding;
    max-width: $size;
    max-height: $size;
}
