@import '~scss-mixins-collection/index';

@mixin make-profile-photo($size: 40px) {
    border: 2px solid $laravel-border-color;
    border-radius: 50%;
    padding: 2px;
    width: $size;
    height: $size;
}
