.about_block_content {
  .main_info_block ul {
    margin-top: -30px;
    margin-left: 30px;
  }

  .image_block {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      border-radius: 0.375em;
      width: auto !important;
      margin: 0 !important;
      max-width: 100%;
      @media screen and (max-width: 480px) {
        min-height: 150px !important;
      }
    }
  }
  .other_image_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      padding: 10px;

      img {
        border-radius: 0.375em;
      }
    }
  }
}
