a:hover {
  text-decoration: none;
}

.page-header-custom {
  color: _palette(accent);
  margin-top: -1em;
}

.active-link {
  color: _palette(accent) !important;
}

a {
  border: none !important;
}

@media screen and (min-width: 1280px) {
  #toggle_btns {
    position: fixed !important;
  }
}

.fixed_toggle_btn {
  left: 0 !important;
}

.main_info_block {
  display: flex;
  justify-content: center;
  .small-block {
    max-width: 844px;
  }
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  span, strong {
    text-align: right;
  }
}

.max-w {
  max-width: 844px;
}

.align-items-center {
  align-items: center;
}

.small-block {
  img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
}
