#gallery {
  a {
    border: none;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  @media screen and (max-width: 595px) {
    justify-content: center;
  }
  .gallery_image_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min-content;
      p {
      text-align: center;
    }
    @media screen and (max-width: 600px) {
      padding: 0 10px;
    }
    div.image {
      width: 250px;
      img {
        width: 100%;
      }
    }
  }
}

.pagination > .active > span {
  background-color: _palette(accent);
  border: _palette(accent);
}
.pagination > li > a {
  color: _palette(accent);
}

ul.pagination li {
  display: inline-block !important;
}