#graduates {
  display: flex;
  flex-direction: column;
  align-items: center;
  article.block {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .original {
    .main_info_block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .image_block {
        @media screen and (max-width: 550px) {
          margin-bottom: 1rem;
          display: flex;
          justify-content: center;
        }
        img {
          margin-right: 30px;
        }
      }

      @media screen and (max-width: 550px) {
        flex-direction: column;
      }
    }
    @media screen and (max-width: 768px) {
      min-height: 150px !important;
    }

  }
  .reverse {
    .header_block {
      text-align: right;
    }
    .main_info_block {
      display: flex;
      flex-direction: row-reverse;
      .image_block {
        @media screen and (max-width: 550px) {
          margin-bottom: 1rem;
          display: flex;
          justify-content: center;
        }
        img {
          margin-right: 0 !important;
          margin-left: 30px;
        }
      }

      @media screen and (max-width: 550px) {
        flex-direction: column !important;
      }
    }
    @media screen and (max-width: 768px) {
      .header_block {
        text-align: left;
      }
      .main_info_block {
        flex-direction: row;
        .image_block img {
          margin-right: 30px !important;
          margin-left: 0;
        }
      }
    }
  }
}
