.single_news_content {
  .image_block {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    img.image {
      width: auto !important;
      margin: 0 !important;
      max-width: 100%;
      @media screen and (max-width: 480px) {
          min-height: 150px !important;
      }
    }
  }

  .news_header {
    margin-bottom: 0;
  }

  .news_date {
    text-align: right;
  }

  .author_name {
    text-align: right;
  }

  .other_image_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      padding: 10px;

      img {
        border-radius: 0.375em;
      }
    }
  }

}

#other_news {
  .posts {
    margin-left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    article {
      width: 28%;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 6em;
      margin-left: 0;

      a {
        width: 100%;
        height: auto;
      }

      .other_block {
        margin-bottom: 1em;
      }

      &:after, &:before {
        display: none;
      }

      ul.actions {
        margin-top: auto;
      }
    }
  }

  @media screen and (max-width: 700px) {
    article {
      width: 45% !important;
    }
  }

  @media screen and (max-width: 400px) {
    article {
      width: 100% !important;
    }
  }
}
