@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

.newcomers-welcome-container {
  $scale: 1.2;

  display: flex;
  flex-direction: column;

  .header-container {
    position: relative;
@media screen and (min-width: 960px) {
    height: $scale * 370px;
}
@media screen and (max-width: 959px) {
    margin-bottom: 3em;
    border-bottom: 2px solid #f56a6a;
    padding-bottom: 6.5em;
}

    .title-container {
@media screen and (min-width: 960px) {
      position: absolute;
      left: 0;
      top: 0;
      width: $scale * 415px;
      height: 100%;

      background-image: url('/build/client/images/newcomers-welcome/title-backdrop.png');
      background-size: contain;
      background-position: top left;
      background-repeat: no-repeat;

      padding-left: $scale * 35px;
      padding-right: $scale * 87px;
}

@media screen and (max-width: 959px) {
      padding: 0 1em;
}

      h2, h4 {
        color: #f56a6a;
        margin-bottom: 0px;
@media screen and (max-width: 959px) {
        text-align: center;
}
      }

      h2 {
@media screen and (min-width: 960px) {
        font-size: $scale * 58px;
}
@media screen and (max-width: 959px) and (min-width: 500px) {
        font-size: $scale * 40px;
}
@media screen and (max-width: 499px) {
        font-size: $scale * 29px;
}
        line-height: 1.2;
      }

      h4 {
@media screen and (min-width: 960px) {
        font-size: $scale * 42px;
}
@media screen and (max-width: 959px) and (min-width: 500px) {
        font-size: $scale * 35px;
}
@media screen and (max-width: 499px) {
        font-size: $scale * 20px;
}
        line-height: 1.3;
      }

      .sub-header {
        font-family: "Roboto Condensed";
        margin-top: 2em;
@media screen and (min-width: 960px) {
        font-size: $scale * 21px;
}
@media screen and (max-width: 959px) and (min-width: 500px) {
        font-size: $scale * 18px;
}
@media screen and (max-width: 499px) {
        font-size: $scale * 16px;
}
        line-height: 1.0;

@media screen and (max-width: 959px) {
        text-align: center;
}
      }
    }

    .title-icon-container {
@media screen and (max-width: 959px) {
      display: none;
}
      position: absolute;
      right: 0;
      top: 0;
      width: $scale * 354px;
      height: 100%;

      img {
        position: absolute;
        right: 0;
        top: 0;
        width: $scale * 354px;
      }
    }
  }

  .possibility-list-container {
    .possibility-header {
      display: flex;
      justify-content: center;
      align-items: center;

      height: $scale * 70px;

      h2 {
        color: #f56a6a;
        margin: 0;
@media screen and (min-width: 960px) {
        font-size: $scale * 37px;
}
@media screen and (max-width: 959px) {
        font-size: $scale * 25px;
}
        line-height: 1.0;
      }
    }

    .possibility-list {
      display: flex;
@media screen and (min-width: 960px) {
      flex-direction: row;
      justify-content: space-evenly;
}

@media screen and (max-width: 959px) {
      flex-direction: column;
}

      margin: $scale * 10px;

      .possibility {
        display: flex;

@media screen and (min-width: 960px) {
        flex-direction: column;
        width: $scale * 138px;
}
@media screen and (max-width: 959px) {
        flex-direction: row;
        align-items: center;
        min-height: $scale * 80px;
}
        .icon-container {
          display: flex;
          justify-content: center;
          align-items: center;

@media screen and (min-width: 960px) {
          margin: $scale * 12px 0;
          width: 100%;
}
@media screen and (max-width: 959px) {
          height: 100%;
          margin: 0 $scale * 12px;
}

          img {
@media screen and (min-width: 960px) {
            width: 70%;
}
@media screen and (max-width: 959px) {
            height: 70%;
            max-height: $scale * 50px;
}
          }
        }

        .text {
          font-family: "Roboto Condensed";
          line-height: 1.0;
@media screen and (min-width: 960px) {
          width: 100%;
          margin: $scale * 12px 0;

          font-size: $scale * 17px;

          text-align: center;
}

@media screen and (max-width: 959px) {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: justify;
          font-size: $scale * 16px;
}
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.newcomers-personal-info-consent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.newcomers-personal-info-consent-pane {
  display: flex;
  padding: 20px;
@media screen and (min-width: 870px) {
  width: 75%;
}
  height: 33%;
  border: 2px solid #f56a6a;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.newcomers-personal-info-consent-pane > div {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
@media screen and (max-width: 870px) {
  padding-left: 0;
  padding-right: 0;
}
}

.newcomers-personal-info-consent-pane .button {
  display: flex;
@media screen and (min-width: 870px) {
  width: 50%;
  max-width: 75%;
}
}

.newcomers-personal-info-consent-pane .button > span {
  text-align: center;
  width: 100%;
}

.newcomers-personal-info-input-pane {
  display: flex;
  padding: 20px;
@media screen and (min-width: 870px) {
  width: 75%;
}
  max-width: 100%;
  height: 33%;
  border: 2px solid #f56a6a;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

}

.newcomers-personal-info-input-pane-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
@media screen and (max-width: 870px) {
  padding-left: 0;
  padding-right: 0;
}
  flex-direction: column;
}

.newcomers-personal-info-input-pane-section > * {
  display: flex;
}

.newcomers-personal-info-input-pane-section .button {
  display: flex;
@media screen and (min-width: 870px) {
  width: 75%;
  max-width: 90%;
}

@media screen and (max-width: 870px) {
  font-size: 0.8em !important;
}
}

.newcomers-personal-info-input-pane-fineprint {
  font-size: 0.75em;
}

.newcomers-personal-info-input-pane-section input {
@media screen and (min-width: 870px) {
  width: 75%;
}
  max-width: 100%;
  border: 1px solid;
}

.newcomers-personal-info-input-pane-section .failed-validation {
  border-color: #f56a6a;
}

.newcomers-personal-info-input-pane-input-label {
  display: block;

  width: 100%;
  text-align: left;

  .newcomers-personal-info-input-pane-validation-error-label {
    color: #f56a6a;
    font-size: 0.8em;

    margin-left: 0.5em;

    &:before {
      content: '(';
    }
    &:after {
      content: ')';
    }
  }
}

.newcomers-personal-info-input-pane-section .button > span {
  text-align: center;
  width: 100%;
}

.newcomers-personal-info-goodies-pane {
  display: flex;
  padding: 20px;
@media screen and (min-width: 870px) {
  width: 75%;
}
  height: 33%;
  border: 2px solid #f56a6a;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.newcomers-personal-info-goodies-pane > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
@media screen and (max-width: 870px) {
  padding-left: 0;
  padding-right: 0;
}
}

.newcomers-personal-info-goodies-pane .button {
  display: flex;
@media screen and (min-width: 870px) {
  width: 50%;
  max-width: 75%;
}
}

.newcomers-personal-info-goodies-pane .button > span {
  text-align: center;
  width: 100%;
}


.newcomers-task-list-container {
  display: flex;
  flex-direction: column;

  .newcomers-task-list {
    display:flex;
    margin-bottom: 0 !important;
    flex-wrap: wrap;
    justify-content: flex-start;

    article{
      $task-list-item-small-width: 100%;
      $task-list-item-regular-width: 30%;

      $task-list-item-small-horizontal-margin: 0;
      $task-list-item-regular-horizontal-margin: (100% - 3 * $task-list-item-regular-width) / 6;

      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
@media screen and (max-width: 767px) {
      margin: 0 $task-list-item-small-horizontal-margin 6em $task-list-item-small-horizontal-margin;
}
@media screen and (min-width: 768px) {
      margin: 0 $task-list-item-regular-horizontal-margin 6em $task-list-item-regular-horizontal-margin;
}
      border: 2px solid #f56a6a;
      border-radius: 0.5em;
      padding: 0;
      justify-content: space-between;

@media screen and (max-width: 767px) {
      flex-basis: $task-list-item-small-width;
}
@media screen and (min-width: 768px) {
      flex-basis: $task-list-item-regular-width;
}

      .task-main {
        display: flex;
        flex-direction: column;

        .task-head {
          display: flex;
          flex-direction: row;
          padding: 1em 1em 0.5em 1em;
          align-items: center;

          img {
            display: flex;
            width: 64px;
            min-width: 64px;
            height: auto;
          }

          h3 {
            display: flex;
            padding: 0.5em 1em;
            line-height: 1.0;
            margin-bottom: 0;
            height: min-content;
          }
        }

        .description {
          padding: 0.5em 1em;
          text-align: justify;
        }
      }


      .button {
        display: flex;
        margin: 1em 12% 1em 12%;
        width: 75%;
        max-width: 90%;
        align-self: end;

        span {
          text-align: center;
          width: 100%;
        }
      }

      .other_block {
        margin-bottom: 1.5em;
      }

      &:before, &:after {
        display: none;
      }

      ul.actions {
        margin-top: auto;
      }

      a {
        width: 100%;
        height: auto;
      }
    }
  }
}

.v--modal-overlay {
  /* This is for modal windows. */
  /* At the point of writing we have the hamburger (menu button) z-index == 1000 */
  /* This style is supposed to make the task modals ovarlap that */
  z-index: 2000 !important;
}

.newcomers-task-disable-scroll {
  overflow: hidden !important;
}

.task-logo-container {
  $task-logo-container-width: 100vw;
  $task-logo-container-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  width: $task-logo-container-width;
  height: $task-logo-container-height;

  .close-button {
    position: fixed;
    width: auto;
    height: auto;
    font-size: 2em;
    right: 4%;
    top: 4%;
    z-index: 1000;
  }

  .task-container {
    $task-container-width: $task-logo-container-width;
    $task-container-height: $task-logo-container-height;
    $task-container-horizontal-padding: 5vw;

    $button-container-height: 10vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: $task-container-width;
    height: $task-container-height;
    max-width: $task-container-width;
    max-height: $task-container-height;
    padding-left: $task-container-horizontal-padding;
    padding-right: $task-container-horizontal-padding;

    .task-main {
      $task-main-width: $task-container-width;
      $task-main-height: $task-container-height - $button-container-height;

      $task-header-height: 0.25 * $task-main-height;

      width: $task-main-width;
      height: $task-main-height;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .task-header {
        display: flex;
        text-align: center;
        max-height: $task-header-height;
      }

      .logo-task-options-container {
        $logo-task-options-width: $task-main-width;
        $logo-task-options-height: $task-main-height - $task-header-height;

        display: flex;
        max-width: $logo-task-options-width;
        max-height: $logo-task-options-height;

        .logo-task-options {
          $logo-task-options-horizontal-padding: 2vw;
          $logo-task-options-vertical-padding: 2vh;

          $options-inter-horizontal-spacing: 2vw;
          $options-inter-vertical-spacing: 2vh;

          $correct-option-scale: 1.2;

          
          list-style-type: none;

          max-width: $logo-task-options-width;
          max-height: $logo-task-options-height;
          padding: $logo-task-options-vertical-padding $logo-task-options-horizontal-padding;

          display: flex;
@media screen and (min-aspect-ratio: 1/1) {
          width: $logo-task-options-width;
          flex-direction: row;
}
@media screen and (max-aspect-ratio: 1/1) {
          height: $logo-task-options-height;
          flex-direction: column;
}
          justify-content: space-evenly;
          align-items: center;

          .correct {
            border: 2px solid #549354;
            transform: scale($correct-option-scale);
          }

          .incorrect {
            border: 2px solid #b86a6a;
            opacity: 0.6;
          }

          li {
            $option-width-for-horizontal-layout: ($logo-task-options-width - 2 * $logo-task-options-horizontal-padding - $options-inter-horizontal-spacing) * 0.5 / $correct-option-scale;
            $option-height-for-horizontal-layout: ($logo-task-options-height - 2 * $logo-task-options-vertical-padding) / $correct-option-scale;

            $option-width-for-vertical-layout: ($logo-task-options-width - 2 * $logo-task-options-horizontal-padding) / $correct-option-scale;
            $option-height-for-vertical-layout: ($logo-task-options-height - 2 * $logo-task-options-vertical-padding - $options-inter-vertical-spacing) * 0.5 / $correct-option-scale;

            $option-padding-horizontal: 2vw;
            $option-padding-vertical: 2vh;

            display: flex;
            align-items: center;
            justify-content: center;
@media screen and (min-aspect-ratio: 1/1) {
            width: $option-width-for-horizontal-layout;
            /* height: 90%; */
            max-width: $option-width-for-horizontal-layout;
            max-height: $option-height-for-horizontal-layout;
}
@media screen and (max-aspect-ratio: 1/1) {
            /* width: 90%; */
            height: $option-height-for-vertical-layout;
            max-width: $option-width-for-vertical-layout;
            max-height: $option-height-for-vertical-layout;
}
            border: 2px solid transparent;
            padding: $option-padding-vertical $option-padding-horizontal;

            img {
              display: flex;

@media screen and (min-aspect-ratio: 1/1) {
              max-width: $option-width-for-horizontal-layout - 2 * $option-padding-horizontal;
              max-height: $option-height-for-horizontal-layout - 2 * $option-padding-vertical;
}
@media screen and (max-aspect-ratio: 1/1) {
              max-width: $option-width-for-vertical-layout - 2 * $option-padding-horizontal;
              max-height: $option-height-for-vertical-layout - 2 * $option-padding-vertical;
}

              width: auto;
              height: auto;
              object-fit: contain;
            }
          }
        }
      }
    }

    .logo-task-button-container {
      display: flex;
      height: $button-container-height;
      align-items: center;
    }
  }

  .facts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 1%;
    padding-right: 1%;

    .facts-background {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      display: flex;
      justify-content: space-between;
      align-items: stretch;

@media screen and (min-aspect-ratio: 1/1) {
      flex-direction: column;
}

@media screen and (max-aspect-ratio: 1/1) {
      flex-direction: row;
}

      .facts-background-book-group {
        display: flex;
        justify-content: space-between;

@media screen and (min-aspect-ratio: 1/1) {
        flex-direction: row;
        max-height: 45%;
}

@media screen and (max-aspect-ratio: 1/1) {
        flex-direction: column;
        max-width: 45%;
}

        .facts-background-book-image {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

@media screen and (min-aspect-ratio: 1/1) {
          max-width: 30%;
          max-height: 100%;
}

@media screen and (max-aspect-ratio: 1/1) {
          max-width: 100%;
          max-height: 30%;
}

          img {
            display: flex;
            width: auto;
            height: auto;
@media screen and (max-aspect-ratio: 1/1) {
            max-width: 100%;
}
@media screen and (min-aspect-ratio: 1/1) {
            max-height: 100%;
}
          }
        }
      }
    }

    .facts-main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 90%;
      max-height: 90%;
      z-index: 100;

      .facts-main-backdrop {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgba(255,255,255,0.95);
@media screen and (min-width: 625px) {
        margin: auto 10vw;
}
        padding: 5vw;
        max-height: 100%;

        .facts-header {
          display: flex;
          max-height: 15%;
        }

        .facts-content {
          display: flex;
          max-height: 85%;
          overflow-y: scroll;
          flex-direction: column;
          padding: 5vw;

          * {
            text-align: justify;
          }
        }
      }
    }

    .logo-task-button-container {
      display: flex;
      height: 10%;
      max-height: 10%;
      align-items: center;
      z-index: 100;

      .button {
        background-color: rgba(255,255,255,1) !important;
      }
    }
  }
}

.task-vocabulary-container {
  $task-vocabulary-container-width: 100vw;
  $task-vocabulary-container-height: 100vh;

  width: 100%;
  height: 100%;
  max-width: $task-vocabulary-container-width;
  max-height: $task-vocabulary-container-height;

  display: flex;
  flex-direction: column;

  .close-button {
    position: fixed;
    width: auto;
    height: auto;
    font-size: 2em;
    right: 4%;
    top: 4%;
    z-index: 1000;
  }
  
  .task-container {
    $task-container-small-horizontal-padding: 1vw;
    $task-container-small-elements-width: $task-vocabulary-container-width - 2 * $task-container-small-horizontal-padding;
    $task-container-regular-horizontal-padding: 15vw;
    $task-container-regular-elements-width: $task-vocabulary-container-width - 2 * $task-container-regular-horizontal-padding;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    max-width: $task-vocabulary-container-width;
    max-height: $task-vocabulary-container-height;

@media screen and (max-width: 600px) {
    padding-left: $task-container-small-horizontal-padding;
    padding-right: $task-container-small-horizontal-padding;
}
@media screen and (min-width: 600px) {
    padding-left: $task-container-regular-horizontal-padding;
    padding-right: $task-container-regular-horizontal-padding;
}

    .background-decoration {
@media screen and (max-width: 600px) {
      display: none;
}

      position: fixed;
      left: 0;
      top: 0;

      width: $task-vocabulary-container-width;
      height: $task-vocabulary-container-height;

      .left-side-decoration {
        position: fixed;
        left: 0;
        top: 0;

        height: $task-vocabulary-container-height;

        img {
          height: 100%;
        }
      }

      .right-side-decoration {
        position: fixed;
        top: 0;
        right: 0;

        height: $task-vocabulary-container-height;

        img {
          height: 100%;
        }
      }
    }

    .task-main {
      $button-container-height: 15vh;

      /* $task-main-container-height: $task-vocabulary-container-height - $button-container-height; */
      $task-main-top-padding: 5vh;
      $task-main-horizontal-padding: 5vw;
      $task-main-small-elements-width: $task-container-small-elements-width - 2 * $task-main-horizontal-padding;
      $task-main-regular-elements-width: $task-container-regular-elements-width - 2 * $task-main-horizontal-padding;

@media screen and (max-width: 600px) {
      width: $task-container-small-elements-width;
      max-width: $task-container-small-elements-width;
}
@media screen and (min-width: 600px) {
      width: $task-container-regular-elements-width;
      max-width: $task-container-regular-elements-width;
}

      /* height: $task-main-container-height; */
      /* max-height: $task-main-container-height;  */

      z-index: 1;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      padding-top: $task-main-top-padding;
      padding-left: $task-main-horizontal-padding;
      padding-right: $task-main-horizontal-padding;

      background-color: rgba(255,255,255,0.95);


      .task-question {
@media screen and (max-width: 600px) {
        max-width: $task-main-small-elements-width;
}
@media screen and (min-width: 600px) {
        max-width: $task-main-regular-elements-width;
}
        display: flex;

        h2 {
          display: flex;
          margin: 0;
          text-align: center;

@media screen and (max-width: 600px) {
          font-size: 1.0em;
}
        }
      }

     .task-options-container {
        /* $options-container-height: $task-main-container-height * 0.8 - $button-container-height; */

        display: flex;
@media screen and (max-width: 600px) {
        max-width: $task-main-small-elements-width;
}
@media screen and (min-width: 600px) {
        max-width: $task-main-regular-elements-width;
}
        /* max-height: $options-container-height; */

        .task-options {
          $task-options-vertical-padding: 1vh;
          $task-options-vertical-margin: 1vh;
          $task-options-horizontal-padding-small: 5vw;
          $task-options-horizontal-padding-regular: $task-main-regular-elements-width * 0.3;

          list-style-type: none;
          /* max-height: $options-container-height; */
@media screen and (max-width: 600px) {
          width: $task-main-small-elements-width;
          max-width: $task-main-small-elements-width;
          padding: $task-options-vertical-padding $task-options-horizontal-padding-small;
}
@media screen and (min-width: 600px) {
          width: $task-main-regular-elements-width;
          max-width: $task-main-regular-elements-width;
          padding: $task-options-vertical-padding $task-options-horizontal-padding-regular;
}
          margin: 0;

          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          align-items: center;

          overflow-y: scroll;

          .correct {
            border: 2px solid #549354;
            transform: scale(1.1);
          }

          .incorrect {
            border: 2px solid #b86a6a;
            opacity: 0.6;
          }

          li {
            $option-height: 10vh;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            border: 2px solid rgba(210, 215, 217, 0.75);
            border-radius: 10px;
@media screen and (min-width: 600px) {
            width: $task-main-regular-elements-width - 2 * $task-options-horizontal-padding-regular;
            max-width: $task-main-regular-elements-width - 2 * $task-options-horizontal-padding-regular;
}
@media screen and (max-width: 600px) {
            width: $task-main-small-elements-width - 2 * $task-options-horizontal-padding-small;
            max-width: $task-main-small-elements-width - 2 * $task-options-horizontal-padding-small;
            font-size: 0.8em;
}
            min-height: $option-height;
            /* max-height: ($options-container-height / 3) - $task-options-vertical-margin; */
            margin-top: $task-options-vertical-margin;
            margin-bottom: $task-options-vertical-margin;
            padding: 0;

            .option-text {
              display: flex;
            }

            .option-details {
              display: flex;

              $details-horizontal-margin: 2vw;

              margin-left: $details-horizontal-margin;
              margin-right: $details-horizontal-margin;

@media screen and (min-width: 600px) {
              max-width: $task-main-regular-elements-width - 2 * $task-options-horizontal-padding-regular - 2 * $details-horizontal-margin;
}
@media screen and (max-width: 600px) {
              max-width: $task-main-small-elements-width - 2 * $task-options-horizontal-padding-small - 2 * $details-horizontal-margin;
}
            }
          }
        }
      } 

      .small-screen-decoration-container {
        $decoration-width: 34vw;
@media screen and (max-width: 600px) {
        display: flex;
}
@media screen and (min-width: 600px), screen and (max-height: 600px) {
        display: none;
}
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        .decoration {
          display: flex;

          img.typewriter {
            width: $decoration-width;
          }
          img.coffee {
            width: $decoration-width * 0.5;
          }
        }

      }

      .task-button-container {
        display: flex;
        height: $button-container-height;
        align-items: center;
      }

      .transparent {
        opacity: 0;
      }
    }

  }
}

.task-punctuation-container {
  $task-punctuation-container-width: 100vw;
  $task-punctuation-container-height: 100vh;
  $task-punctuation-small-header-height: 18vh;
  $task-punctuation-regular-header-height: 10vh;

  width: 100%;
  height: 100%;
  max-width: $task-punctuation-container-width;
  max-height: $task-punctuation-container-height;

  display: flex;
  flex-direction: column;
  align-items: center;

  .header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
@media screen and (max-width: 500px) {
    height: $task-punctuation-small-header-height;
    max-height: $task-punctuation-small-header-height;
}
@media screen and (min-width: 500px) {
    height: $task-punctuation-regular-header-height;
    max-height: $task-punctuation-regular-header-height;
}
    max-width: $task-punctuation-container-width;

    h2 {
      display: flex;
      margin: 3em;
      text-align: center;
    }
  }

  .close-button {
    position: fixed;
    width: auto;
    height: auto;
    font-size: 2em;
    right: 4%;
    top: 4%;
    z-index: 1000;
  }

  .task-container {
    $task-container-width: $task-punctuation-container-width;

    $task-container-small-height: $task-punctuation-container-height - $task-punctuation-small-header-height;
    $task-container-regular-height: $task-punctuation-container-height - $task-punctuation-regular-header-height;

    $task-button-container-height: 12vh;

    $text-container-regular-width: $task-container-width * 0.7;
    $text-container-small-width: $task-container-width;
    $text-container-small-height: $task-container-small-height - $task-button-container-height;
    $text-container-regular-height: $task-container-regular-height - $task-button-container-height;

    width: $task-container-width;
    max-width: $task-container-width;


@media screen and (max-width: 500px) {
    height: $task-container-small-height;
    max-height: $task-container-small-height;
}
@media screen and (min-width: 500px) {
    height: $task-container-regular-height;
    max-height: $task-container-regular-height;
}

    display: flex;
    flex-direction: column;
    align-items: center;

    .text-container {
      $text-word-height: 8vh;
      $text-placeholder-height: 9vh;

      display: flex;
      flex-direction: column;

      justify-content: flex-start;
      align-items: center;

@media screen and (max-width: 500px) {
      width: $text-container-small-width;
      max-width: $text-container-small-width;

      height: $text-container-small-height;
      max-height: $text-container-small-height;
}
@media screen and (min-width: 500px) {
      width: $text-container-regular-width;
      max-width: $text-container-regular-width;

      height: $text-container-regular-height;
      max-height: $text-container-regular-height;
}

      overflow-y: scroll;

@media screen and (max-width: 500px) {
      font-size: large;
}

      .paragraph {
@media screen and (max-width: 500px) {
        width: $text-container-small-width;
        max-width: $text-container-small-width;
}
@media screen and (min-width: 500px) {
        width: $text-container-regular-width;
        max-width: $text-container-regular-width;
}

        min-height: max-content;

        padding: 2em;

        text-align: justify;

        .token {
          cursor: default;

          &:first-child {
            margin-left: 5em;
@media screen and (max-width: 500px) {
            margin-left: 2em;
}
          }
        }

        .word {
          display: inline;

          border: 2px solid transparent;

          line-height: 2em;

          padding: 0.3em;
          margin: 0.3em;

          min-width: 2em;
          max-height: $text-word-height;
        }

        .placeholder {
          display: inline-block;

          text-align: center;

          border: 2px solid #409393;
          border-radius: 0.5em;

          background-color: rgba(210, 215, 217, 0.75);

          padding: 0.1em;
          margin: 0.1em;

          min-width: 2.2em;
          max-height: $text-placeholder-height;

          /* We do this, so the options popover could be positioned: absolute being a child of the placeholder */
          position: relative;

          .options-popover {
            position: absolute;
            bottom: 1.7em;
            left: -1.8em;;

            background-color: #409393;
            border-radius: 0.2em;

            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .option {
              display: flex;
              align-items: center;
              justify-content: center;
              
              width: 1.9em;

              span {
                display: flex;
              }
            }
          }

        }

        .correct {
          /* border: 2px solid #1c7f1c; */

          background-color: rgba(28, 127, 28, 0.6);
        }

        .incorrect {
          /* border: 2px solid #9f2222; */

          background-color: rgba(159, 34, 34, 0.6);
        }
      }
    }

    .task-button-container {
      display: flex;

      align-items: center;
      justify-content: center;

      height: $task-button-container-height;
      max-height: $task-button-container-height;
    }
  }
}

.task-rhethoric-hints-container {
  $task-rhethoric-hints-container-width: 100vw;
  $task-rhethoric-hints-container-height: 100vh;

  $task-button-container-small-height: 15vh;
  $task-button-container-regular-height: 15vh;

  $task-container-top-margin: 3vh;

  $task-container-small-height: $task-rhethoric-hints-container-height - $task-button-container-small-height - $task-container-top-margin;
  $task-container-regular-height: $task-rhethoric-hints-container-height - $task-button-container-regular-height - $task-container-top-margin;

  display: flex;
  flex-direction: column;

  width: $task-rhethoric-hints-container-width;
  max-width: $task-rhethoric-hints-container-width;

  height: $task-rhethoric-hints-container-height;
  max-height: $task-rhethoric-hints-container-height;

  .close-button {
    position: fixed;
    width: auto;
    height: auto;
    font-size: 2em;
    right: 4%;
    top: 4%;
    z-index: 1000;
  }

  .task-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    margin-top: $task-container-top-margin;

@media screen and (max-width: 500px) {
    height: $task-container-small-height;
    max-height: $task-container-small-height;
}
@media screen and (min-width: 500px) {
    height: $task-container-regular-height;
    max-height: $task-container-regular-height;
}

    .task-main {
      $task-main-width: 70vw;
      $task-main-small-height: $task-container-small-height;
      $task-main-regular-height: $task-container-regular-height;

      display: flex;
      flex-direction: column;

      justify-content: flex-start;
      align-items: center;

      width: $task-main-width;
      max-width: $task-main-width;

      overflow-y: scroll;


@media screen and (min-width: 500px) {
      max-height: $task-main-small-height;
}
@media screen and (min-width: 500px) {
      max-height: $task-container-regular-height;
}

      .hints-page {
        .section {
          display: flex;
          flex-direction: column;

          .header-container {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: auto 3em;

            h2 {
              display: flex;
              text-align: center;
            }
          }
          
          .image-container {
            $image-container-height: 20vh;

            display: flex;
            justify-content: center;
            align-items: center;

            max-height: $image-container-height;

            margin-bottom: 20px;

            img {
              max-height: $image-container-height;
              height: auto;
              width: auto;
            }
          }

          .hint-container {
            display: flex;
            justify-content: center;
            align-items: center;

            text-align: justify;

            padding: 1em;

            overflow-y: scroll;
          }
        }
      }

      .synonyms-page {
        .header {
        }

        .synonym {
          $synonyms-horizontal-padding-regular: 5em;
          $synonyms-horizontal-padding-small: 0;

@media screen and (min-width: 768px) {
          padding: 0 $synonyms-horizontal-padding-regular;
}
@media screen and (max-width: 767px) {
          padding: 0 $synonyms-horizontal-padding-small;
}
          margin-bottom: 1em;

          .example {
            margin-bottom: 1em;

            .emphasis {
              font-weight: bold;
              text-decoration: underline;
            }

            .source {
              font-size: 0.85em;
              font-style: italic;
            }
          }

          .options {
            margin: 0 0 0 2em;

            .correct-option {
              &:after {
                margin-left: 1em;
                font-size: 0.9em;
                color: #549354;
                content: '(правильно!)';
              }
            }
            
            .incorrect-option {
              &:after {
                margin-left: 1em;
                font-size: 0.9em;
                color: #b86a6a;
                content: '(неправильно)';
              }
            }
          }

        }
      }
    }
    
  }

  .task-button-container {
    display: flex;

@media screen and (max-width: 500px) {
    flex-direction: column;
}
@media screen and (min-width: 500px) {
    flex-direction: row;
}

    justify-content: center;
    align-items: center;

@media screen and (max-width: 500px) {
    height: $task-button-container-small-height;
    max-height: $task-button-container-small-height;
}
@media screen and (min-width: 500px) {
    height: $task-button-container-regular-height;
    max-height: $task-button-container-regular-height;
}

    .button {
      $button-small-width: 40vw;
      $button-regular-width: 20vw;

      display: flex;
      
      justify-content: center;

      margin: 1em;

@media screen and (max-width: 500px) {
      min-width: $button-small-width;
}
@media screen and (min-width: 500px) {
      min-width: $button-regular-width;
}
    }
  }
}

.task-feminitives-container {
  $task-feminitives-container-width: 100vw;
  $task-feminitives-container-height: 100vh;

  $task-button-container-small-height: 15vh;
  $task-button-container-regular-height: 15vh;

  $task-container-small-height: $task-feminitives-container-height - $task-button-container-small-height;
  $task-container-regular-height: $task-feminitives-container-height - $task-button-container-regular-height;

  display: flex;
  flex-direction: column;

  width: $task-feminitives-container-width;
  max-width: $task-feminitives-container-width;

  height: $task-feminitives-container-height;
  max-height: $task-feminitives-container-height;

  .close-button {
    position: fixed;
    width: auto;
    height: auto;
    font-size: 2em;
    right: 4%;
    top: 4%;
    z-index: 1000;
  }

  .task-container {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

@media screen and (max-width: 500px) {
    height: $task-container-small-height;
    max-height: $task-container-small-height;
}
@media screen and (min-width: 500px) {
    height: $task-container-regular-height;
    max-height: $task-container-regular-height;
}

    .task-main {
      $task-main-small-width: 75vw;
      $task-main-regular-width: 45vw;
      $task-main-small-height: $task-container-small-height;
      $task-main-regular-height: $task-container-regular-height;

      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;

@media screen and (max-width: 500px) {
      width: $task-main-small-width;
      max-width: $task-main-small-width;
}
@media screen and (min-width: 500px) {
      width: $task-main-regular-width;
      max-width: $task-main-regular-width;
}


@media screen and (min-width: 500px) {
      max-height: $task-main-small-height;
}
@media screen and (min-width: 500px) {
      max-height: $task-container-regular-height;
}

      .header-container {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: auto 3em;

        h2 {
          display: flex;
          text-align: center;
        }
      }

      .page-container {

        text-align: justify;
        width: 100%;
        max-width: 100%;

        .page-info {
          width: 100%;
          max-width: 100%;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .info-paragraph {
            width: 100%;
            max-width: 100%;
          }
        }

        .page-quiz {
          width: 100%;
          max-width: 100%;

          .quiz-text {
            width: 100%;
            max-width: 100%;
          }

          .quiz-options {
            width: 100%;
            max-width: 100%;

            list-style: none;


            .quiz-option {

              border: 2px solid rgba(210, 215, 217, 0.75);
              border-radius: 0.5em;
              
              padding: 1em;
              margin: 1em;
              
              list-style-type: none;

              .option-title {
                font-weight: bold;
              }

              .option-comment {
                font-size: 0.9em;
                color: #949494;
              }
            }

            .correct {
              transition-property: border;
              transition-duration: 0.33s;
              transition-timing-function: ease-in-out;

              border: 2px solid #549354;
            }

            .incorrect {
              transition-property: opacity, border;
              transition-duration: 0.33s;
              transition-timing-function: ease-in-out;
              border: 2px solid #b86a6a;
              opacity: 0.6;
            }
          }

          .quiz-correct-message {
          }

          .transparent {
            opacity: 0;
          }

          .girl {
            $girl-max-height: 450px;
            $girl-min-height: 250px;

            display: flex;
@media screen and (max-height: 720px) {
              display: none;      // Hide the girl on small height devices.
}

            max-height: $girl-max-height;
            min-height: $girl-min-height;
            width: 100%;

            // Allow the girl container to grow in size with the main container
            flex-grow: 1;

            // A special container with position: relative to let the girl image have position: absolute
            .girl-relative-container {
              position: relative;
              max-height: 100%;
              width: 100%;

              img {
                position: absolute;
                right: 0;
                bottom: 0;
                max-height: 100%;

                max-width: 100%;
              }
            }
          }
        }

        .page-outro {
          width: 100%;
          max-width: 100%;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          .outro-message {
            width: 100%;
            max-width: 100%;

            text-align: center;
          }

          .women {
            $women-max-height: 300px;
            $women-max-width: 300px;
            $women-min-height: 250px;

            display: flex;
            justify-content: center;
            align-items: center;
@media screen and (max-height: 760px) {
              display: none;      // Hide the women on small height devices.
}

            max-height: $women-max-height;
            min-height: $women-min-height;

            max-width: $women-max-width;

            width: 100%;

            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
        }
      }

    }
    
  }

  .task-button-container {
    display: flex;

@media screen and (max-width: 500px) {
    flex-direction: column;
}
@media screen and (min-width: 500px) {
    flex-direction: row;
}

    justify-content: center;
    align-items: center;

@media screen and (max-width: 500px) {
    height: $task-button-container-small-height;
    max-height: $task-button-container-small-height;
}
@media screen and (min-width: 500px) {
    height: $task-button-container-regular-height;
    max-height: $task-button-container-regular-height;
}

    .button {
      $button-small-width: 40vw;
      $button-regular-width: 20vw;

      display: flex;
      
      justify-content: center;

      margin: 1em;

@media screen and (max-width: 500px) {
      min-width: $button-small-width;
}
@media screen and (min-width: 500px) {
      min-width: $button-regular-width;
}
    }
  }
}
