#teachers {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;

  article.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3em 2em 3em;

    div {
      max-width: 200px;
    }

    .single_link {
      text-align: center;
      text-decoration: none;
      border: none;

      &:hover .teachers_name, &:hover .teachers_post {
        color: _palette(accent);
        text-decoration: none;
        @include vendor('transition', (
                'background-color #{_duration(transition)} ease-in-out',
                'color #{_duration(transition)} ease-in-out'
        ));
      }

      .teachers_name {
        margin: 1em 0 0.5em 0;

        span {
          text-transform: uppercase;
        }
      }

      .teachers_post {
        color: _palette(fg);
      }

    }

  }
}