.parallax-container {
  width: 100%;
}

.parallax-item {
  width: 100%;
  overflow: hidden;
}

.parallax-item-content {
  width: 100%;
  height: auto;
}

.parallax-item-content > * {
  width: 100%;
  min-height: 110%;
  position: relative;
  top: -5%;
}
