@import "../theme/libs/vars";
@import "../theme/libs/skel";
@import "../theme/libs/functions";

.swiper-container {
  width: 80%;
  max-width: 844px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  width: 80%;
  max-width: 844px;
  height: 500px;
  margin-bottom: 4em;

  .swiper-slide-active {
    width: 100% !important;
    border-radius: 0.375em;
  }
}
.gallery-thumbs {
  height: 125px;
  box-sizing: border-box;
  padding: 10px 0;
}
.gallery-thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}
.gallery-thumbs .swiper-slide-active {
  opacity: 1;
}

.swiper-button-next ,.swiper-button-prev {
  color: _palette(accent);
  background-image: none;
}

.swiper-pagination-bullet-active {
  background-color: _palette(accent);
}

@media screen and (max-width: 1000px) {
  .gallery-top {
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .gallery-top, .gallery-thumbs {
    width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .gallery-top {
    height: 200px;
  } .gallery-thumbs {
    display: none;
  }
}