<template>

  <div class='task-grammar-container'>
    <div class='close-button' v-on:click='confirmAndCloseTask()'>❌</div>
    <v-dialog />

    <div class='message-container' v-if='message'>
      <h3 class='title' v-if='message.title'>{{ message.title }}</h3>
      <div class='text' v-if='message.text'>{{ message.text }}</div>
      <div class='buttons' v-if='message.buttons && message.buttons.length > 0'>
        <div class='button big' v-for='button in message.buttons' v-on:click='button.handler'><span>{{ button.title }}</span></div>
      </div>
    </div>

    <div class='task-container' ref='taskContainer' v-else>
      <div class='task'>
        <div class='status'>
          <div class='timer'>
            <img class=hourglass src='/build/client/images/task-grammar/hourglass.png'/>
            <span class='time-left-label'>{{ timeLeft }}</span>
          </div>
          <progress-bar v-bind:val='complete' 
                        bar-color='#f56a6a'
                        class='progress-bar'
                        size=large></progress-bar>
        </div>

        <div class='challenges-container'>
          <div class='challenge' v-for='challenge in gameState.challenges' v-bind:class='{ inactive: challenge.inactive }'>
            <div class='card-container'>
              <drag class='card' 
                    v-bind:transfer-data='{ word: challenge.leftWord, challenge: challenge }'
                    v-bind:style='challenge.leftWordStyle'
                    v-on:dragstart='handleDragStart'
                    v-on:dragend='handleDragEnd'>
                <span>
                  {{ challenge.leftWord.text }}
                </span>
              </drag>
              <drag class='card' 
                    v-bind:transfer-data='{ word: challenge.rightWord, challenge: challenge }'
                    v-bind:style='challenge.rightWordStyle'
                    v-on:dragstart='handleDragStart'
                    v-on:dragend='handleDragEnd'>
                <span>
                  {{ challenge.rightWord.text }}
                </span>
              </drag>
            </div>
          </div>

        </div>

        <div class='incorrect-answer-drop-container'>
          <drop class='drop' 
                ref='drop' 
                v-on:drop='handleDrop'
                v-on:dragenter='handleDragEnter'
                v-on:dragleave='handleDragLeave'></drop>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  var arrayShuffle = require('lodash/_arrayShuffle')
  var padStart = require('lodash/padStart')

  var VueDragDrop = require('vue-drag-drop')
  Vue.use(VueDragDrop)

  var ProgressBar = require('vue-simple-progress')

  module.exports = {
    props: [ 'completeTaskTarget' ],
    components: {
      "progress-bar": ProgressBar,
    },
    computed: {
      timeLeft: function() {
        const time = this.gameState.secondsLeft >= 0 ? this.gameState.secondsLeft : 0
        const minsLeft = Math.floor(time / 60)
        const secsLeft = Math.floor(time % 60)

        return `${padStart(minsLeft, 2, '0')}:${padStart(secsLeft, 2, '0')}`
      },

      complete: function() {
        // The vue-simple-progress doesn't seem to calculate the progress correctly if its val is not percenage.
        const complete = (this.gameState.challenges.filter(c => c.selection).length / this.gameState.challenges.length) * 100.0
        return complete
      },

      corrects: function() {
        return this.gameState.challenges.filter(c => c.selection && c.selection.correct === true).length
      },
      
      incorrects: function() {
        return this.gameState.challenges.filter(c => c.selection && c.selection.correct === false).length
      }
    },
    data: function() {
      return {
        wordPairs: [
          [
            { text: "У більшості випадків", correct: false, },
            { text: "Здебільшого", correct: true, },
          ],
          [
            { text: "У даний момент", correct: false, },
            { text: "Цієї миті", correct: true, },
          ],
          [
            { text: "У даний чаc", correct: false, },
            { text: "Тепер", correct: true, },
          ],
          [
            { text: "У два етапи", correct: false, },
            { text: "Двома етапами", correct: true, },
          ],
          [
            { text: "У жорстоких боях", correct: false, },
            { text: "У запеклих боях", correct: true, },
          ],
          [
            { text: "У знаках вдячності", correct: false, },
            { text: "На знак вдячності", correct: true, },
          ],
          [
            { text: "У значній мірі", correct: false, },
            { text: "Значною мірою", correct: true, },
          ],
          [
            { text: "У розстрочку", correct: false, },
            { text: "На виплат", correct: true, },
          ],
          [
            { text: "У тій чи іншій мірі", correct: false, },
            { text: "Так чи інакше", correct: true, },
          ],
          [
            { text: "Усердно", correct: false, },
            { text: "Ревно", correct: true, },
          ],
          [
            { text: "Фіртка", correct: false, },
            { text: "Хвіртка", correct: true, },
          ],
          [
            { text: "Хватить", correct: false, },
            { text: "Вистачить", correct: true, },
          ],
          [
            { text: "Хвилюючий момент", correct: false, },
            { text: "Зворушливий момент", correct: true, },
          ],
          [
            { text: "Хлам", correct: false, },
            { text: "Сміття", correct: true, },
          ],
          [
            { text: "Хлопнути дверима", correct: false, },
            { text: "Грюкнути дверима", correct: true, },
          ],
          [
            { text: "Ціленаправлено", correct: false, },
            { text: "Цілеспрямовано", correct: true, },
          ],
          [
            { text: "Ціллю політики", correct: false, },
            { text: "Метою політики", correct: true, },
          ],
          [
            { text: "Чуть-чуть", correct: false, },
            { text: "Ледь-ледь", correct: true, },
          ],
          [
            { text: "Черніка", correct: false, },
            { text: "Чорниця", correct: true, },
          ],
          [
            { text: "Чолка", correct: false, },
            { text: "Чубчик", correct: true, },
          ],
        ],
        gameState: {
          secondsLeft: 300,
					challenges: [
						{
							pair: null,
              inactive: true,
              leftWord: null,
              leftWordStyle: {
                opacity: 1,
              },
              rightWord: null,
              rightWordStyle: {
                opacity: 1,
              },
							selection: null,
						}
					],
          timerId: null,
        },
        message: {
          title: "Sample Title",
          text: "Sample Message",
          buttons: [
            {
              title:" Sample Button",
              handler: null,
            },
          ],
        },
      }
    },
    methods: {
      generateInitialGameState: function() {
        const challenges = arrayShuffle(this.wordPairs).map(function(pair) {
          const placeFirstWordOnLeft = Math.random() > 0.5
          return {
            pair: pair,
            inactive: true,
            leftWord: placeFirstWordOnLeft ? pair[0] : pair[1],
            leftWordStyle: {
              opacity: 1,
            },
            rightWord: placeFirstWordOnLeft ? pair[1] : pair[0],
            rightWordStyle: {
              opacity: 1,
            },
            selection: null,
          }
        })

        challenges[challenges.length - 1].inactive = false

        return {
          secondsLeft: 60,
          challenges: challenges,
          timerId: null,
        }
      },

      displayIntroMessage: function() {
        Vue.set(this, 'message', {
          title: "Як правильно?",
          text: "В цьому завданні Вам будуть подані пари словосполучень. Те з них, яке Ви вважаєте некорректним, схопіть та перетягніть на значок корзини. Не баріться, Ваш час буде обмежено! Щасти!",
          buttons: [
            {
              title: "Почати",
              handler: this.startGameplay,
            }
          ],
        })
      },

      displayOutroMessage: function(timedOut) {
        const pairsComplete = this.gameState.challenges.filter(c => c.selection).length
        const pairsCorrect = this.corrects
        const pairsIncorrect = this.incorrects

        Vue.set(this, 'message', {
          title: timedOut ? "Час вийшов!" : "Ви встигли!",
          text: `За час цієї вправи Ви співставили ${pairsComplete} пар. З них ${pairsCorrect} виборів було правильними, а ${pairsIncorrect} -- неправильними. Якщо бажаєте, можете спробувати ще раз!`,
          buttons: [
            {
              title: "Спробувати ще",
              handler: this.displayIntroMessage,
            },
            {
              title: "Завершити",
              handler: this.completeTask,
            },
          ],
        })
      },

      startGameplay: function() {
        Vue.set(this, 'message', null)
        Vue.set(this, 'gameState', this.generateInitialGameState())

        this.startTimer()
      },

      completeGameplay: function() {
        this.cancelTimer()

        this.displayOutroMessage(this.gameState.secondsLeft <= 0)
      },

      hideWordWithStyle: function(style) {
        style.opacity = 0.0
      },

      animateTaskContainerBorderAccordingToSelection: function(selection) {
        const taskContainer = this.$refs.taskContainer
        taskContainer.addEventListener('animationend', (event) => {
          taskContainer.classList.remove('answer-correct')
          taskContainer.classList.remove('answer-incorrect')
        }, false)

        if (selection.correct === false) {
          taskContainer.classList.add('answer-correct')
        } else if (selection.correct === true) {
          taskContainer.classList.add('answer-incorrect')
        }
      },

      proceedToNextChallenge: function(fromChallenge) {
        const idx = this.gameState.challenges.findIndex(c => c === fromChallenge)
        if (idx != -1) {
          const that = this
          setTimeout(function() {
            that.gameState.challenges[idx].inactive = true
            if (idx > 0) {
              that.gameState.challenges[idx - 1].inactive = false
            } else {
              that.completeGameplay()
            }

          }, 300)
        }   
      },

      handleDrop: function(transferData, nativeEvent) {
        if (transferData.word === transferData.challenge.leftWord) {
          this.hideWordWithStyle(transferData.challenge.leftWordStyle)
        } else if (transferData.word === transferData.challenge.rightWord) {
          this.hideWordWithStyle(transferData.challenge.rightWordStyle)
        }

        transferData.challenge.selection = transferData.word

        this.animateTaskContainerBorderAccordingToSelection(transferData.word)
        this.proceedToNextChallenge(transferData.challenge)
      },

      handleDragStart: function() {
        this.$refs.drop.$el.classList.add('droppable') 
      },

      handleDragEnd: function() {
        this.$refs.drop.$el.classList.remove('droppable') 
        this.$refs.drop.$el.classList.remove('active') 
      },

      handleDragEnter: function(side) {
        this.$refs.drop.$el.classList.add('active') 
      },

      handleDragLeave: function(side) {
        this.$refs.drop.$el.classList.remove('active') 
      },

      startTimer: function() {
        this.cancelTimer()

        this.gameState.timerId = setInterval(this.handleTimerTick, 1000)
      },

      handleTimerTick: function() {
        this.gameState.secondsLeft = this.gameState.secondsLeft - 1

        if (this.gameState.secondsLeft <= 0) {
          this.completeGameplay()
        }
      },

      cancelTimer: function() {
        if (this.gameState.timerId) {
          clearInterval(this.gameState.timerId)
        }
      },

      completeTask: function() {
        this.completeTaskTarget.$emit('completeTask', this)
      },

      confirmAndCloseTask: function() {
        const taskModal = this

        this.$modal.show('dialog', {
          title: 'Завершити завдання?',
          text: 'Ви впевнені, що хочете завершити проходження завдання?',
          buttons: [
            {
              title: 'Так, завершити',
              handler: function() {
                taskModal.completeTaskTarget.$emit('completeTask', taskModal)
              }
            },
            {
              title: 'Ні, продовжити',
              default: true,
              handler: function() {
                taskModal.$modal.hide('dialog')
              }
            }
          ],
        })
      },

    },

    beforeMount: function() {
      this.displayIntroMessage()
    },
  }
</script>

<style lang="scss">
  .task-grammar-container {
    $width: 100vw;
    $height: 100vh;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: $width;
    height: $height;

    .close-button {
      position: fixed;
      width: auto;
      height: auto;
      font-size: 2em;
      right: 4%;
      top: 4%;
      z-index: 1000;
    }

    .message-container {
      $message-container-width-regular: 50vw;
      $message-container-width-small: 80vw;
      $message-container-height: 70vh;

      $message-container-vertical-padding: 1vh;
      $message-container-horizontal-padding: 1vw;

      display: flex;
      flex-direction: column;

      justify-content: center;
      align-items: center;

@media screen and (min-width: 768px) {
      width: $message-container-width-regular;
}
@media screen and (max-width: 767px) {
      width: $message-container-width-small;
}
      height: $message-container-height;

      border: 4px solid rgba(210, 215, 217, 0.75);
      border-radius: 2em;

      padding: $message-container-vertical-padding $message-container-horizontal-padding;

      .text {
        margin: 4vh 0;
        text-align: center;
      }

      .buttons {
        display: flex;

@media screen and (min-width: 768px) {
        flex-direction: row;
}
@media screen and (max-width: 767px) {
        flex-direction: column;
}

        justify-content: center;
        align-items: center;

@media screen and (min-width: 768px) {
        max-width: $message-container-width-regular - 2 * $message-container-horizontal-padding;
}
@media screen and (max-width: 767px) {
        max-width: $message-container-width-small - 2 * $message-container-horizontal-padding;
}

        .button {
          display: flex;

          justify-content: center;
          align-items: center;

          margin: 1vh 1vw;

@media screen and (min-width: 768px) {
          height: 100%;
}
@media screen and (max-width: 767px) {
          width: 100%;
}

        }
      }

    }

    .task-container {
      $task-container-width-regular: 50vw;
      $task-container-width-small: 80vw;
      $task-container-height: 70vh;

      $status-height: 5vh;
      $status-horizontal-margin: 1vw;
      $status-vertical-margin: 1vh;

      $drop-container-width-regular: $task-container-width-regular;
      $drop-container-width-small: $task-container-width-small;

      $drop-container-height: 30vh;

      $challenges-container-width-regular: $task-container-width-regular;
      $challenges-container-width-small: $task-container-width-small;
      $challenges-container-height: $task-container-height - $status-height - 2 * $status-vertical-margin - $drop-container-height;

      box-sizing: content-box;

@media screen and (min-width: 768px) {
      width: $task-container-width-regular;
}
@media screen and (max-width: 767px) {
      width: $task-container-width-small;
}
      height: $task-container-height;

      display: flex;
      flex-direction: column;

      border: 4px solid rgba(210, 215, 217, 0.75);
      border-radius: 2em;

      .status {
        $status-width-regular: $task-container-width-regular - 2 * $status-horizontal-margin;
        $status-width-small: $task-container-width-small - 2 * $status-horizontal-margin;

        $progress-bar-horizontal-margin: 1vw;

@media screen and (min-width: 768px) {
        width: $status-width-regular;
}
@media screen and (max-width: 767px) {
        width: $status-width-small;
}
        height: $status-height;

        margin: $status-vertical-margin $status-horizontal-margin;

        display: flex;
        flex-direction: row;

        align-items: center;

        .timer {
          display: flex;
          align-items: center;

          .hourglass {
            height: $status-height;
          }

          .time-left-label {
          }
        }

        .progress-bar {
          flex-grow: 1;
          margin: 0 $progress-bar-horizontal-margin;
        }
      }

      .challenges-container {
@media screen and (min-width: 768px) {
        width: $challenges-container-width-regular;
}
@media screen and (max-width: 767px) {
        width: $challenges-container-width-small;
}
        height: $challenges-container-height;

        display: flex;

        flex-direction: row;
        justify-content: center;
        align-items: center;

        .challenge {
          $challenge-width-regular: $challenges-container-width-regular;
          $challenge-width-small: $challenges-container-width-small;

          $challenge-height: $challenges-container-height;

          $card-horizontal-margin: 1vw;
          $card-vertical-margin: 1vh;

          $card-width-regular: ($challenge-width-regular - $card-horizontal-margin * 4) * 0.5;
          $card-width-small: ($challenge-width-small - $card-horizontal-margin * 4) * 0.5;
          $card-height: $challenge-height - $card-vertical-margin * 2;

@media screen and (min-width: 768px) {
          width: $challenge-width-regular;
}
@media screen and (max-width: 767px) {
          width: $challenge-width-small;
}
          height: $challenge-height;

          display: flex;

          .card-container{
            display: flex;

@media screen and (min-width: 768px) {
            width: $challenge-width-regular;
}
@media screen and (min-width: 767px) {
            width: $challenge-width-small;
}
            height: $challenge-height;

            .card {
              display: flex;
              justify-content: center;
              align-items: center;

@media screen and (min-width: 768px) {
              width: $card-width-regular;
}
@media screen and (max-width: 767px) {
              width: $card-width-small;
}
              height: $card-height;

              margin: $card-vertical-margin $card-horizontal-margin;

              border: 4px solid rgba(210, 215, 217, 0.75);
              border-radius: 2em;

              background: white;
            }
          }
        }
      }

      .inactive {
        display: none !important;
      }


      .incorrect-answer-drop-container {
        $drop-vertical-margin: 2vh;

        $drop-width-regular: $drop-container-width-regular;
        $drop-width-small: $drop-container-width-small;
        $drop-height: $drop-container-height - 2 * $drop-vertical-margin;

        display: flex;
        
@media screen and (min-width: 768px) {
        width: $drop-container-width-regular;
}
@media screen and (max-width: 767px) {
        width: $drop-container-width-small;
}
        height: $drop-container-height;

        overflow: hidden;

        .drop {
          display: flex;

@media screen and (min-width: 768px) {
          width: $drop-width-regular;
}
@media screen and (max-width: 767px) {
          width: $drop-width-small;
}
          height: $drop-height;

          margin: $drop-vertical-margin 0;

          transition-property: transform;
          transition-duration: 0.33s;
          transition-timing-function: ease-in-out;
          transform: translateY($drop-container-height); 
          
          background-image: url(/build/client/images/task-grammar/trash-can-black.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .droppable {
          transition-property: transform;
          transition-duration: 0.33s;
          transition-timing-function: ease-in-out;
          transform: translateY(0.0);
        }

        .active {
          background-image: url(/build/client/images/task-grammar/trash-can-hl.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }

    }

    .answer-correct {
      animation-name: answer-correct-border-flare;
      animation-direction: alternate;
      animation-duration: 0.33s;
      animation-iteration-count: 2;
    }

    .answer-incorrect {
      animation-name: answer-incorrect-border-flare;
      animation-direction: alternate;
      animation-duration: 0.33s;
      animation-iteration-count: 2;
    }

    @keyframes answer-correct-border-flare {
      from {
        border-color: rgba(210, 215, 217, 0.75);
      }

      to {
        border-color: #549354;
      }
    }

    @keyframes answer-incorrect-border-flare {
      from {
        border-color: rgba(210, 215, 217, 0.75);
      }

      to {
        border-color: #b86a6a;
      }
    }
  }
</style>
