<template>
  <div class="home newcomers-task-fakes">
    <div class='close-button' v-on:click='confirmAndCloseTask()'>❌</div>
    <v-dialog />

    <div class='illustration-left'>
      <img src='/build/client/images/task-fakes/task-fakes-illustration-left.png'/>
    </div>
  	<div :class = "{'hidden':!hidden}">
    <div class="helloWindow">
    <h2>Факт чи фейк?</h2>
    <p>В епоху інформаційного розвитку багато ризиків натрапити на фейк. За їх допомогою населенням легко маніпулювати, адже за використання неправдивих відомостей у певної людини може сформуватися хибне ставлення до якоїсь ситуації чи відомої персони.</p>
    <p>Редактору видання важливо не допустити потрапляння фальсифікації на шпальту. Потрібно вміти мислити критично та бути уважним до деталей.</p>
    <p>Тому пропонуємо Вам пройти через декілька новин, щоби вирішити, фейк це чи ні.</p>
    </div>
    <button class="btn" v-on:click="hidden = !hidden;">Почати</button>
    </div>
    <Questions :class = "{'hidden':hidden}" :complete-task-target='completeTaskTarget' />
    <div class='illustration-right'>
      <img src='/build/client/images/task-fakes/task-fakes-illustration-right.png'/>
    </div>
  </div>
</template>

<script>
import Questions from './newcomers-task-fakes-questions.vue'

export default {
    data(){
  	 	return {
        hidden: true
  	 	}
  	},	

    props: [ 'completeTaskTarget' ],

  	name: 'Home',

  	components: {
     	Questions
    },
  
    methods: {
      completeTask: function() {
        this.completeTaskTarget.$emit('completeTask', this)
      },

      confirmAndCloseTask: function() {
        const taskModal = this

        this.$modal.show('dialog', {
          title: 'Завершити завдання?',
          text: 'Ви впевнені, що хочете завершити проходження завдання?',
          buttons: [
            {
              title: 'Так, завершити',
              handler: function() {
                taskModal.completeTaskTarget.$emit('completeTask', taskModal)
              }
            },
            {
              title: 'Ні, продовжити',
              default: true,
              handler: function() {
                taskModal.$modal.hide('dialog')
              }
            }
          ],
        })
      },
    }
}


</script>

<style lang='scss'>
.newcomers-task-fakes {
@media  screen and (min-width: 1020px) {
  display: flex;
  flex-direction: row;
  justify-content: stretch;

  & > div {
    flex-grow: 1;
  }

  .illustration-left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3em;
  }

  .illustration-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 3em;
  }

  .illustration-right > img, .illustration-left > img {
    height: auto !important;
    max-height: 100%;
  }
}

@media screen and (max-width: 1019px) {
  .illustration-left, .illustration-right {
    display: none;
  }
}

  .btn {
    display: block;
    font-family: Roboto Slab,serif;
    font-weight: bold;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: .075em;
    line-height: 2.5em;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    color: #2d3f53 !important;
    cursor: pointer;
    vertical-align: middle;
    margin:0 auto; 
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border-radius: .375em;
    outline: none !important;
    border:2px solid #2d3f53 !important;
    background-color: transparent;
    box-shadow: none;
  }


  .btn:active{
    top:5px;
  }

  .hidden{
    display: none;
    
  }

@media screen and (min-width: 1020px) {
  .helloWindow {
    width: 550px;
    max-width: 800px;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 1019px) {
  .helloWindow {
    padding: 3em;
    margin: 2rem auto;
  }
}

  .helloWindow h2{
    text-align: center;
    font-weight: 600;
    margin: 2rem auto;
  }

  .helloWindow  p{
    text-align: justify;
    text-indent: 1.5em;
  }

  .close-button {
    position: fixed;
    width: auto;
    height: auto;
    font-size: 2em;
    right: 2%;
    top: 2%;
    z-index: 1000;
  }


}
</style>
