#link-category-panel {
  .edit-link-category-block {
    display: none;
  }
}
.file_image_block {
  div {
    min-width: 40px;
  }
  .link_file {
    .open_link {
      position: static;
      p {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
