.photo-panel {

  .photo-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    div {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    p {
      height: 100px;
      display: flex;
      align-items: center;
    }

  }
  hr {
    margin-top: 0 !important;
  }

  span {
    display: block;
    margin: 0 0 22px 0;

    a {
      padding: 10px;
    }
  }
}