.news_image_block {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  div {
    padding: 10px;
  }

  &.edit {
    div{
      position: relative;

      a {
        position: absolute;
        top: 5px;
        right: -3px;
      }
    }
  }
}

