.single-teacher-panel {

  .single-teacher {
    display: flex;
    flex-direction: row;
    justify-content: start;

    color: #000;
    font-size: 15px;
    line-height: 1.2;

    img {
      margin-right: 30px;
      max-width: 200px;
    }

    .tab-pane {
      margin-top: 10px;
    }

    .article-block, .subject-block {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    .edit-article-block, .edit-subject-block {
      display: none;
    }

    .edit-article-block {
      flex-direction: column;

      div {
        margin-top: 20px;

        textarea {
          border-top-right-radius: 4px;
        }

        span {
          vertical-align: bottom;
        }
      }

    }

    .control-block {
      margin-left: 20px;
      display: flex;

      a {
        padding: 15px;
      }
    }

    .pagination-group {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__all-btn {
        margin: 22px 0;
      }
    }
  }

  .acp-panel-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
