.cookie-consent__panel {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: $navbar-default-bg;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-color: $navbar-default-border;

    .cookie-consent__message {
        font-size: 12px;
    }

    .cookie-consent__agree {
        font-size: 12px;
    }
}
